html {
    line-height: 1.15;
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    position: relative;
  }
  
  section {
    padding: 90px 15px;
  }
  
  .content {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
  }
  
  p {
    font-size: 18px;
    margin: 5px 0 10px;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .orange {
    color: #FF5100;
  }
  
  h2 {
    font-size: 36px;
    margin: 5px 0 10px;
  }
  
 
    h2 {
      font-size: 70px;
      color: #848484;
      font-weight: 700;
    }

  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .center {
    text-align: center;
  }
  .site-header {
    z-index: 10;
    font-family: 'Roboto Condensed', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
  }
  
  .site-header {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    
  }
  
  .site-header .nav-logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 10px 5px 5px;
  }
  
  .site-header .nav-logo a img {
    max-width: 200px;
    height: auto;
  }
  
  .site-header .nav-logo a img {
      max-width: 314px;
      height: auto;
    
  }
  
  .site-header .nav-links {
    display: none;
    width: 100%;
    background-color: #DEF0FF;
  }
  
  .site-header .nav-links {
      display: block;
      background-color: #FFF;
    
  }
  
  .site-header .nav-links ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .site-header .nav-links ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    
  }
  
  .site-header .nav-links ul li {
    list-style: none;
  }
  
  .site-header .nav-links ul li a {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 400;
    color: #7f53ac;
    letter-spacing: 1.2px;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  
  .site-header .nav-links ul li:hover {
    background-color: #efe0ff;
  }
  
  .site-header button {
    cursor: pointer;
    background: transparent;
    border: none;
    max-width: 50px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .site-header button {
      top: 20px;
    
  }
  
  .site-header button {
      display: none;
    
  }
  
  .nav-links.active {
    display: block;
  }
  .banner {
    padding: 90px 15px;
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
    text-align: center;
    color: #FFFFFF;
  }
  
  .banner .banner--content {
    max-width: 1400px;
    height: auto;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }
  
  .banner .banner--content .name {
    text-transform: uppercase;
  }
  
  .banner .banner--content .designation {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
  }
  
  .banner .banner--content .designation {
      font-size: 70px;
    
  }
  
  .banner .banner--content .tagline {
    font-size: 18px;
  }
  
  .banner .banner--content .tagline {
      font-size: 26px;
    
  }
  
  .promo {
    background-color: #DEF0FF;
  }
  
  .promo .content h2 {
    font-size: 36px;
    font-weight: 300;
    color: #222;
    text-shadow: 0 1px 2px #222;
  }
  
  .promo .content h2 {
      font-size: 70px;

  }
  
  .promo .content h2 span.orange {
    font-weight: 700;
  }
  
  .promo .content p {
    font-size: 22px;
  }
  .promo .content p {
      font-size: 36px;
    
  }
  #about .content h2 {
    text-align: center;
  }
  
  #about .about-container {
    display: block;
  }
  #about .about-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    
  }
  #about .about-container-left {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    background: #DEF0FF;
    padding: 30px 15px;
  }
  #about .about-container-left li {
    font-style: italic;
    line-height: 1.9;
  }
  #about .about-container-right {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    background: #F2F3F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #about .about-container-right img {
    max-width: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #about .about-container-right img {
      -ms-flex-item-align: stretch;
          -ms-grid-row-align: stretch;
          align-self: stretch;
    
  }





#cate {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

#cate .cate--content {
  display: block;
}

#cate .cate--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

#cate .cate--content .left {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

#cate .cate--content .left h2 {
  font-size: 36px;
  color: #222;
}

#cate .cate--content .right {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: block;
}

#cate .cate--content .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }


#cate .cate--content .right .item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
  border: 1px solid #222;
  padding: 30px 15px;
  margin-bottom: 30px;
  border-width: 5px 5px 5px 5px;
  -o-border-image: linear-gradient(45deg, #ff9800 0%, purple 100%);
     border-image: linear-gradient(45deg, #ff9800 0%, purple 100%);
  border-image-slice: 9;
  border-style: solid;
}

#cate .cate--content .right .item {
    margin-bottom: 0;
  }


#cate .cate--content .right .item img {
  max-width: 100px;
  height: auto;
}


  #contact .contact-detail, #contact address {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }
  #contact address {
    margin-top: 60px;
  }
  #contact address a {
    text-decoration: none;
  }

  
  .site-footer {
    background-color: rgb(71, 56, 56);
    padding: 90px 15px 30px;
  }
  .site-footer .site-footer--content {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    color: #FFF;
    border-bottom: 1px solid #0000004D;
  }
    .site-footer .site-footer--content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
  
  .site-footer .site-footer--content .footer-left {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .site-footer .site-footer--content .footer-left p {
    font-size: 16px;
    line-height: 1.6;
    color: #E0E0E0;
  }
  .site-footer .site-footer--content .footer-right {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    text-align: right;
  }
  .site-footer .site-footer--content a {
    color: #FFF;
    text-decoration: none;
  }  
  .site-footer .copyright-notice {
    padding-top: 20px;
    text-align: center;
    color: #7A7A7A;
    border-top: 1px solid #FFFFFF0D;
  }